<div class="footer">
    Powered By Folk v<%=blog.version%>
</div>

<script src="<%=blog.client%>system/assets/js/jquery-1.12.1.min.js"></script>
<script src="<%=blog.client%>system/assets/js/bootstrap.min.js"></script>
<script src="<%=theme.assets%>js/common.js"></script>